@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,600;1,900&display=swap');

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
h6 {
	font-size: 15px;
	margin-bottom: 10px;
}
body {
	font-family: 'Raleway', sans-serif;
	background: rgb(241,241,177);
	background: linear-gradient(90deg, rgba(241,241,177,1) 0%, rgba(246,216,249,1) 100%);
	padding: 100px 0;

}
.container {
	width: 800px;
	min-height: 500px;
	border: 6px solid white;
	border-radius: 15px;
	margin: 0 auto;
	background: #fff;
}
.header {
	display: flex;
	height: 150px;
}
.banner {
	display: flex;
	position: relative;
	width: 80%;
	height: 100%;
	border-radius: 15px;
	border: 2px solid white;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background: url(https://images.unsplash.com/photo-1564049489314-60d154ff107d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdhbWluZ3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;
	color: white;
}
.banner::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}
.title {
	position: relative;
	z-index: 1;
}
.userpic {
	display: flex;
	width: 20%;
	border-radius: 15px;
	height: 100%;
	border: 2px solid white;
	background: url(https://yt3.ggpht.com/yti/ANoDKi7ETznSfMipg39GzEe8pVC0JKcOEZPN-RVI5b9Mmg=s108-c-k-c0x00ffffff-no-rj) no-repeat center center / cover;
}
.nav ul {
	display: flex;
	background: rgb(230, 230, 230);
	margin: 10px 0;
}
.nav li {
	
}
.nav li a {
	padding: 20px;
	display: flex;
	text-decoration: none;
	transition: background .3s ease;
	color: #404040;
	font-weight: bold;
	border-right: 1px solid #d1d1d1;
}
.nav li a:hover {
	background: rgb(196, 196, 196);
}
.content-wrapper {
	display: flex;
}
.content {
	width: 70%;
	padding: 10px;
}
.content p {
	line-height: 20px;
}
.sidebar {
	width: 30%;
	padding: 20px;
	text-align: right;
}
.menu li {
	padding: 10px 0;
	transition: transform .5s ease;
	cursor: pointer;
}
.menu li:hover {
	transform: translateX(10px);
}
.date {
	color: green;
	font-size: 12px;
	margin: 5px;
}
.page__row--footer {
	color: gray;
	text-align: 200px;
}
.link2 {
	color: inherit;
	text-decoration: none;
	font-size: 15px;
}
.text-ali {
	text-decoration: none;
	color: gray;
}
.about {
	font-size: 17px;
}
.imgx {
	border-radius: 8px;
}
.getsoft {
	margin: 10px;
	padding: 10px;
}
.instruction {
}

a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
 }
input[type="checkbox"]:checked ~ a {
  opacity: 1;
  pointer-events: auto;
}
.privacy {
	text-decoration: none;
	cursor: pointer;
}
.terms {
	text-decoration: none;
	cursor: pointer;
}
yt-icon.ytd-badge-supported-renderer {
    width: var(--ytd-badge-icon-size, 12px);
    height: var(--ytd-badge-icon-size, 12px);
    color: var(--ytd-badge-icon-color, var(--yt-spec-text-secondary));
}
yt-icon, .yt-icon-container.yt-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: var(--iron-icon-fill-color, currentcolor);
    stroke: var(--iron-icon-stroke-color, none);
    width: var(--iron-icon-width, 24px);
    height: var(--iron-icon-height, 24px);
    margin-left: var(--iron-icon_-_margin-left);
    margin-bottom: var(--iron-icon_-_margin-bottom);
    margin-right: var(--iron-icon_-_margin-right);
    width: var(--iron-icon_-_width, var(--iron-icon-width, 24px));
    height: var(--iron-icon_-_height, var(--iron-icon-height, 24px));
    margin-top: var(--iron-icon_-_margin-top);
}
#pers:not(:checked) ~ #but{
    user-select:none!important;
    background-color:#ccc!important;
    cursor:default;
    outline:none;
}
.txt123 {
	text-decoration: none;
	color: gray;
}
a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.submit1 {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fe6637;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.submit1:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.submit1:hover {
  background: #fe6637;
  color: #fff;
}
.submit1:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}