@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,600;1,900&display=swap');

h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
h6 {
	font-size: 15px;
	margin-bottom: 10px;
}
body {
	font-family: 'Raleway', sans-serif;
	background: rgb(241,241,177);
	background: linear-gradient(90deg, rgba(241,241,177,1) 0%, rgba(246,216,249,1) 100%);
	padding: 100px 0;

}
.container {
	width: 800px;
	min-height: 500px;
	border: 6px solid white;
	margin: 0 auto;
	background: #fff;
}
.header {
	display: flex;
	height: 150px;
}
.banner {
	display: flex;
	position: relative;
	width: 80%;
	height: 100%;
	border: 2px solid white;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background: url(https://images.unsplash.com/photo-1564049489314-60d154ff107d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdhbWluZ3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat center center / cover;
	color: white;
}
.banner::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}
.title {
	position: relative;
	z-index: 1;
}
.userpic {
	display: flex;
	width: 20%;
	height: 100%;
	border: 2px solid white;
	background: url(https://yt3.ggpht.com/yti/ANoDKi7ETznSfMipg39GzEe8pVC0JKcOEZPN-RVI5b9Mmg=s108-c-k-c0x00ffffff-no-rj) no-repeat center center / cover;
}
.nav ul {
	display: flex;
	background: rgb(230, 230, 230);
	margin: 10px 0;
}
.nav li {
	
}
.nav li a {
	padding: 20px;
	display: flex;
	text-decoration: none;
	transition: background .3s ease;
	color: #404040;
	font-weight: bold;
	border-right: 1px solid #d1d1d1;
}
.nav li a:hover {
	background: rgb(196, 196, 196);
}
.content-wrapper {
	display: flex;
}
.content {
	width: 70%;
	padding: 10px;
}
.content p {
	line-height: 20px;
}
.sidebar {
	width: 30%;
	padding: 20px;
	text-align: right;
}
.menu li {
	padding: 10px 0;
	transition: transform .5s ease;
	cursor: pointer;
}
.menu li:hover {
	transform: translateX(10px);
}
.date {
	color: green;
	font-size: 12px;
	cursor: pointer;
}
.page__row--footer {
	color: gray;
	text-align: right;
}
.link2 {
	color: inherit;
	text-decoration: none;
	font-size: 15px;
}
.footer {
	padding: 1.2rem 0;
}
.text-ali {
	text-decoration: none;
	color: gray;
}